header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: grey;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#inivio{
padding-right: 200px;
}

#proou{
    padding-left: 200px
}
nav a {
    font-family: Arial,sans-serif;
    text-decoration: none;
    color:rgb(0, 255, 200)
}

nav a:hover {
    color:#ff1180;
}